<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink="/routingmodule">router module link</a></li>
      <li><a routerLink="/routingmodule1">router module1 link</a></li>
      <li><a routerLink="">Home component</a></li>
    </ul>
  </div>
</nav>
<!--<a routerLink="/routingmodule">router module link</a>
<a routerLink="/routingmodule1">router module1 link</a>
<a routerLink="">Home component</a>-->
<router-outlet></router-outlet>
